body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f0f7;
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.sign-in, .sign-up {
    padding: 10px 20px;
    border: 2px solid #A615F2;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.sign-in {
    color: #A615F2;
}

.sign-up {
    background-color: #A615F2;
    color: #ffffff;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 36px;
    line-height: 1.2;
}

.hero-text span {
    background: linear-gradient(to right, #ff66b2, #f7a300);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-text p {
    margin: 20px 0;
    font-size: 18px;
}

.explore-btn {
    background-color: #A615F2;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    padding-left: 4rem;
}

@media screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        margin-top: 20px;
    }
}
